.divider {
	margin: 6px auto 0;
	padding: 0;
	width: $main-width;
	height: 4px;
	background-color: $primary-lightblue;
}

.divider-lg {
	margin: 6px auto 0;
	padding: 0;
	float: left;
	width: $main-width;
	height: 35px;
	background-color: $primary-lightblue;
}

.buffer-top { margin-top: 50px; }
.buffer-top-sm { margin-top: 20px; }
.buffer-top-md { margin-top: 40px; }

.bold { font-weight: bold; }
.underlined { text-decoration: underline !important; }
.uppercase { text-transform: uppercase; }
.inline { display: inline; }
.thin { font-weight: 500; }
.orange { color: $primary-orange; }
.black { color: #000; }
.green { color: #86C837; }

.no-padding { padding:0; }
.no-margin { margin: 0 auto; }

.width_100 { width: 100% !important; }

.img_centered { display: block; margin-left: auto; margin-right: auto; }
