// dimensions
$main-width: 980px;

// colors
$primary-lightblue: #4FDDFF;
$secondary-lightblue: #DDF8FF;

$darkblue: #006BC3;
$secondary-darkblue: #005EBC;
$tertiary-darkblue: #4A9DFF;
$green: #79DA4C;

$primary-orange: #E26620;

$white : #fff;
$black : #000;

// fonts
$primary-font : 'Open Sans', sans-serif;
$font-deco : 'Indie Flower', cursive;
$font-docu-heading : 'Limelight', cursive;
$font-page-heading : 'Anton', sans-serif;
