@mixin transitionEffect($attribute, $time, $effect) {
	-webkit-transition: $attribute $time $effect;
	-moz-transition: $attribute $time $effect;
	-o-transition: $attribute $time $effect;
	transition: $attribute $time $effect;
}
