#admin {
	margin: 0 auto;
	padding: 20px 40px;

	h1 { text-align: center; }

	.submit_button {
		text-align:center;
	}

	.jumbotron {
		padding-left: 20px;
		padding-right: 20px;
	}

	table {
		width: 100% !important;
	}

	ul.my-list-group {
		padding: 0;

		li { border: 0px; }
	}

	a.delete-link {
		text-align: center;
		display: block;
	}

	.dashboard_panel {display: none;}
	.nav{border: 1px solid #DDD;border-radius: 5px; position: fixed;}
}

.dropzone {
	border: 2px dashed #028AF4;
}

.navbar-header { width: 100%; }

.navbar-right {
	a:last-of-type {
		margin-right: 20px;
	}
}
