ul.gallery {
	margin: 20px auto 0;
	padding: 20px 0;

	.thumbnail {
		border: none;
		padding: 25px 0;
		
		.bg-gallery-img {
			height: 150px;
			background-repeat: no-repeat;
			background-position: center;
		}
	}

	.caption {
		text-align: center;
		padding: 0 !important;
		position: absolute;
		width: 90%;
	}
}

a.back_button {
	display: inline-block;
	margin: 10px 0;
	padding: 10px 20px;
	background-color: $primary-lightblue;
	color: $white;

	-webkit-border-radius: 100px 10px 10px 100px;
	border-radius: 100px 10px 10px 100px;
}

.album_hover:hover {
	background-color: lighten($primary-lightblue, 10);

	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
