ul.pagination {
    text-align: center;

    li {
        display: inline-block;
        padding: 10px 20px;
        border: 1px solid #DDD;
        border-radius: 10px;
        text-decoration: none;

        a {
            text-decoration: none;
            color: $primary-lightblue;

            &:visited {
                color: $primary-lightblue;
            }
        }
    }
}
