#carousel {
	margin: 1px auto 0;
	padding: 0;
	z-index: 1;

	&.slick-initialized img {
		display: block;
		margin-right: auto;
		margin-left: auto;
	}

	img {
		display: none;

		&:first-child {
			display: block;
		}
	}
}

.slick-dots li { width: 10px !important; }