.documents {
	position: absolute;
	right: 0;
	margin: 0 auto;
	padding: 0;
	width: 185px;
	text-align: right;

	h2 {
		margin: 0 auto;
		padding: 0px 10px;
		width: 200px;
		position: relative;
		top: -10px;
		left: -65px;
		z-index: 10;
		color: #006BC3;
		font-size: 27px;
		font-family: $font-docu-heading;
		background-color: #FFF;
		text-transform: uppercase;
	}

	ul#documents-wrapper {
		margin: 0 auto;
		padding: 0px 20px 10px 20px;
		width: 140px;
		position: relative;
		top: -20px;
		text-align: left;
		border: 1.5px solid darken($primary-lightblue, 20%);
		border-top-left-radius: 30px;
		border-bottom-right-radius: 30px;
		background-color: #FFF;

		a {
			display: block;
			margin: 10px auto 0;
			color: darken($primary-lightblue, 20%);
			font-size: 12px;
			text-decoration: none;
			text-transform: uppercase;
		}
	}

}
