#logo {
	margin: 0 auto;
	padding: 0;
	width: 700px;
	height: 120px;
	background: url('../img/logo.png') no-repeat;
}

#header_wrapper {
	margin: 0 auto;
	padding: 0;
	width: 100%;

	#header_content {
		margin: 0 auto;
		padding: 0;
		width: $main-width;

		ul {
			margin: 0 auto;
			padding: 0;
			width: 100%;
			z-index: 10;

			a { text-decoration: none; }
			li {
				margin: 0 auto;
				padding: 10px 30px;
				display: inline-block;
				text-align: left;
				background-color: $primary-lightblue;
				color: $white;
				-webkit-font-smoothing: antialiased;

				&:hover {
					background-color: darken($primary-lightblue, 20%);
					@include transitionEffect(background-color, 200ms, ease-out);
				}
			}

			&.dropdown {
				display: none;
				position: absolute;
				width: 300px;
				background-color: darken($primary-lightblue, 20%);

				li {
					background-color: darken($primary-lightblue, 20%);
					border-bottom: 1px solid $white;
					width: 100%;

					&:hover { background-color: $primary-lightblue; }
				}
			}
		}
	}
}
