.statcounter {
	float: right;
	top: 3px;
	right: 10px;
	position: relative;
}


.namesday {
	margin: 5px auto;
	padding: 0;
	float: right;
	font-weight: normal;
	font-size:: 90%;
	color: $green;
}

#squares_index {
	margin: 20px 0 5px 0;
	padding: 0;
	float: left;
	width: 100%;
	background-color: $white;
	text-align: center;

	.square{
		display: inline-block;
		margin: 0 auto;
		padding: 0 22px;
		width: $main-width / 5;
		height: 315px;
		background-color: $secondary-lightblue;
		position: relative;

		&:first-child { margin-left: 0; }
		&:last-child { margin-right: 0; }

		h3 { color: $secondary-darkblue; font-size: 20px; font-weight: 300; text-align: left; }
		a {
			float: left;
			color: $darkblue;
			text-decoration: none;

			&.padded {
				padding-top: 15px;
				position: absolute;
				bottom: 0;
				right: 5px;
				color: $tertiary-darkblue;
			}
		}

		img {
			width: 200px;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}

		span {
			display: block;
			margin: 0 auto;
			padding: 10px 0;
			text-align: left;
			color: $tertiary-darkblue;
		}
	}
}
