body {
	background-color: $white;
	font-family: $primary-font;
	padding-top: 20px;
	font-size: 16px;

	.admin {
		padding-top: 70px;
	}
}

ul { list-style: none; list-style-type: none; }

.content {
	margin: 0 auto;
	padding: 0;
	width: $main-width;
	overflow: hidden;
}

.wrapper {
	margin: 0 auto;
	padding: 0;
	width: $main-width;
	overflow: visible;
	position: relative;
}

.deco { font-family: $font-deco; }

.section {
	margin: 20px auto 0;
	padding: 0;
	float: left;
	overflow: hidden;
	width: 100%;
}

.one-half {
	margin: 0 auto;
	padding: 0;
	width: 50%;
	float: left;
}

.line {
	position: relative;
	top: -12px;
	left: 20px;
	width: 270px;
	margin: 0 auto;
	padding: 0;
	height: 1px;
	background-color: gray;
}
