.notice {
	position: absolute;
	right: 0;
	margin: 0 auto;
	padding: 0;
	width: 300px;
	float: right;
	text-align: right;

	h1 { font-family: $font-deco; }

	h2 {
		position: relative;
		margin: 0 auto;
		padding-right: 150px;
		color: darken($darkblue, 10%);
		font-family: $font-deco;
		text-transform: uppercase;
	}

	.documents-wrapper {
		margin: 0 auto;
		padding: 20px;
		top: -10px;
		position: relative;
		text-align: left;
		border: 2px solid darken($primary-lightblue, 20%);
		border-top-left-radius: 30px;
		border-bottom-right-radius: 30px;
		background-color: #FFF;

		p {
			display: block;
			margin: 10px auto 0;
			padding-right: 30px;
			color: darken($primary-lightblue, 20%);
			font-size: 18px;
			font-weight: 600;
		}

		img {
			position: relative;
			right: -190px;
			top: 52px;
			width: 90px;
		}
	}
}
