#squares {
	margin: 10px 0;
	padding: 0;
	float: left;
	width: 100%;
	background-color: $white;
	text-align: center;

	.square{
		display: inline-block;
		margin: 0 auto;
		padding: 0 15px;
		width: $main-width / 5;
		-box-sizing: inherit;
		-webkit-box-sizing: inherit;

		&:first-child { margin-left: 0; }
		&:last-child { margin-right: 0; }

		h3 { color: $secondary-darkblue; font-size: 20px; font-weight: 300; text-align: left; }
		a { float: right; color: $darkblue; text-decoration: none; }

		img {
			width: 200px;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
	}
}

.page {
	margin: 0 auto;
	padding-bottom: 50px;
	overflow: hidden;
	color: $secondary-darkblue;
	float: left;

	p { width: 650px; }

	h2 {
		font-weight: bold;

		&.subtitle {
			font-size: 80%;
			color: #8DB5E3;
		}
	}

	h1, h2, h3, h4 { font-family: $font-page-heading; }

	img.triedy {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	a {
		text-decoration: none;
		u {
			text-decoration: none !important;
		}

		&:hover { color: $primary-lightblue; }
		& > span:hover { color: $primary-lightblue !important; }
	}
}

.fullpage p { width: 100% !important; }

#gallery {
	margin: 0 auto;
	padding: 0;
	text-align: center;

	h2 { text-align: center; color: $green; font-size: 200%; }
	a { text-decoration: none; }

	img {
		margin: 10px;
		padding: 0px;
		border: 4px solid $primary-lightblue;
		border-radius: 4px;
	}
}
