#publication-form-container {
    padding-top: 70px;

    .row {
        padding-bottom: 30px;
    }
}

.publication_table {
    font-size: 12px;
}

table > thead > tr > th {
    vertical-align: middle !important;
    text-align: center;
    font-weight: bold;
}

table > thead > tr > th.edit {
    color: lightgreen;
}

table > thead > tr > th.delete {
    color: red;
}

.truncated {
    margin: 70px auto 0;
    width: 100% !important;
}

table.dynamic_table {
    font-size: 90%;

    & > tbody > tr > td {
        font-size: 80%;
        padding: 2px;
        border: 1px solid #DDDDDD;

        &:last-child {
            border: 1px solid #DDD !important;
        }
    }
}

table.sudo_table > tbody > tr > td > table > tbody > tr > td {
    border: 1px solid #DDDDDD;
}

ul.floating_menu {
    position: fixed;
    top: 227px;
    left: 10px;
}

.single-file {
    display: inline-block;
    margin: 5px 10px;
    padding: 20px;
    border: 1px solid #DDD;
    border-radius: 4px;
}
