table {
	width: inherit !important;
	border: 1px solid #D0CECE;
}

th {
	margin: 0 auto;
	padding: 10px;
	background-color: #F7F7F7;
	color: #000;
	font-weight: 600;
	border-right: 1px solid #D0CECE;
	border-bottom: 1px dotted #D0CECE;
	text-align: left;

	&:last-child { border-right: 0; }
}

.tbl_cll {
	margin: 0 auto;
	padding: 5px 8px 5px 6px;
	border-right: 1px solid #D0CECE;
	border-bottom: 1px dotted #D0CECE;
}

.tbl_center {
	text-align: center;
}

tbody.tbl_druzina {
	font-size: 80%;
	font-weight: 600;
}

table.small {
	border: none;
	border-collapse: separate;
	border-spacing: 2px;

	tbody tr td {
		margin: 0 auto;
		padding: 5px;
		border: 1px solid #8DB5E0;
	}
}

table.invisible {
	border: none;

	tbody tr td{
		margin: 0 auto;
		padding: 5px;
		border:none;
	}
}

td.colored_bg { background-color: #B1CDEB; }

.border-orange { border: 1px solid #E26620 !important; }
.bg_orange { background-color: #FBAA5E !important; }

table.minimal {
	border: 0;
	width: 100%;

	thead {
		border: 1px solid #000;
	}

	th {
		padding: 1px 40px;
		background-color: #FFF;
		border: 0;
		color: $darkblue;
		font-size: 80%;
		font-weight: bold;
	}

	tr {
		&.gray {
			background-color: #F8F8F8;
		}

		&:first-child { border-top: 1px solid #000; }
		&:last-child { border-bottom: 1px solid #000; }
	}

	td {
		margin: 0 auto;
		padding: 6px 20px;
		border-right: 1px solid #E5E5E5;
		font-size: 80%;
		text-align: center;

		&:last-child { border: 0; }
	}
}
